openapi: 3.0.1
info:
  version: '1.0'
  title: QAD Asia APIs
  description: 'These APIs are for QAD Asia'
servers:
  - url: 'https://apigatewaydev.adient.com/qad-asia/v1'
    description: Development
    variables:
      scheme:
        enum:
          - https
        default: https
  - url: 'https://apigatewayqa.adient.com/qad-asia/v1'
    description: Quality
    variables:
      scheme:
        enum:
          - https
        default: https
  - url: 'https://apigateway.adient.com/qad-asia/v1'
    description: Production
    variables:
      scheme:
        enum:
          - https
        default: https
paths:
  /purchaseorder:
    post:
      summary: Purchase Order (PO) updates
      description: Create, Change, Close and Cancel Purchase Orders
      operationId: poupdates
      tags: 
        - Purchase Order
      parameters:
        - $ref: '#/components/parameters/qadversion'
      requestBody:
        required: true
        description: XML WSDL
        content:
          text/xml:
            schema:
              type: string
      responses:
        200:
          description: OK
          content:
            text/xml:
              schema:
                type: string
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                description: ""
                properties:
                  code:
                    type: string
                    example: 401
                  message:
                    type: string
                    example: Invalid Authorization key for resource
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                description: ""
                properties:
                  code:
                    type: string
                    example: 400
                  message:
                    type: string
                    example: "Invalid Query Parameter: qadversion ; Valid values are: 14 and 19"
  /bankmaster:
    post:
      summary: Bank Master Data Updates
      description: Create/Update Bank Master Data
      operationId: bankmasterupdates
      tags: 
        - Bank Master
      parameters:
        - $ref: '#/components/parameters/qadversion'
      requestBody:
        required: true
        description: XML WSDL
        content:
          text/xml:
            schema:
              type: string
      responses:
        200:
          description: OK
          content:
            text/xml:
              schema:
                type: string
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                description: ""
                properties:
                  code:
                    type: string
                    example: 401
                  message:
                    type: string
                    example: Invalid Authorization key for resource
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                description: ""
                properties:
                  code:
                    type: string
                    example: 400
                  message:
                    type: string
                    example: "Invalid Query Parameter: qadversion ; Valid values are: 14 and 19"
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: Authorization
      in: header
  parameters:
    qadversion:
      in: query
      name: qadversion
      required: true
      schema:
        type: integer
        enum:
        - 14
        - 19
      description: >-
        The Version of QAD Asia - EE14 or EE19 - valid values are 14 or 19
security:
  - ApiKeyAuth: []